AppMVCConsumingWebApi/Connected Services/ServiceGetToken/Auth2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFAuth.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFAuth.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expires" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
</xs:schema>